# Dependencies
node_modules/
**/node_modules/
.venv/
.conda/

# Build & compiled outputs
build/
**/build/
dist/
**/dist/
.tmp/
**/.tmp/
.strapi/
**/.strapi/
.firebase/
**/.firebase/

# Environment variables & secrets (keep private)
.env
**/.env
*.local

# Logs and databases
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.sqlite
*.sqlite3

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
