@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
}

.border {
  border: 4px solid red !important;
}

.myButton {
  border-radius: 5px !important;
  border: 1px solid #888 !important;

  text-transform: capitalize !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;

  font-size: 16px !important;
}

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  border: 7px solid #232943;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}


html {scrollbar-color: #9e4673 #3d4a59;} 

html {scroll-behavior: smooth;}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  padding: 20px;
}

.contact-us, .about-us {
  max-width: 800px;
  margin: 0 auto;
}

h1, h2 {
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input, textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #F0F2F5;
  color: #2B3445;
  padding: 20px;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #2B3445;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.login-container button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.login-container button:hover {
  background-color: #0056b3;
}

.login-container .error-message {
  color: red;
  margin-bottom: 20px;
}

.login-container a {
  color: #007BFF;
  text-decoration: none;
}

.login-container a:hover {
  text-decoration: underline;
}
